<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        var err_code = ${_context['err_code']};
        switch(err_code) {
            case 404:
                alert('请求路径没有找到.');
                break;
            case 500:
                alert('服务器发生错误, 请稍后再试.');
                break;
            case 405:
                alert('缺少必须的请求参数.');
                break;
            case 403:
                alert('请先登陆');
                break;
            default:
                alert('请求发生错误.');
                break;
        }
        window.document.location = "/";
    });
</script>
